
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>JetBrains Color Schemes</title>
    <style TYPE="text/css">
        .keyword {
            color: red
        }
    </style>
</head>
<body>

<p>
$heredoc = <<< HEREDOC_ID<br />
some $contents<br />
HEREDOC_ID;<br />
<br />
// Sample comment<br />
<br />
<span class="keyword">class</span> SomeClass {<br />
   /**<br />
    * Description by <a href="mailto:">alex</a><br />
    * @return SomeType<br />
    */<br />
   function doSmth($abc, $def) {<br />
      $v = Helper::convert($abc . "\n {$def}");<br />
      $q = new Query( $this->invent(abs(0x80)) );<br />
      return array($v => $q->result);<br />
   }<br />
}<br />
<br />
include (dirname(__FILE__) . "inc.php");<br />
`rm -r`;<br />
\<br />
</p>
{{ php_keyword }}
</body>
</html>